.idea
.vscode/
__pycache__
*/__pycache__/
*/*/__pycache__/
*/runs/
ckpt/
log/
e2e_dataset/
e2e_dataset_test/
vehicle_scripts/
fisheye_undistort/para/*/*.npy
*/*/*/*/*/ckpts/
*/devel/
*/build/
*/src/CMakeLists.txt
*/.catkin_workspace
config/training_debug.yaml